<ion-header>
  <ion-toolbar>
    <ion-title>Administrador</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let l of lecturas">
      <ion-label>
        Usuario: {{l.user_id}} <br>
        Valor: {{l.valor}} <br>
        Observaciones: {{l.observaciones}} <br>
        <a *ngIf="l.foto_medidor" [href]="l.foto_medidor" target="_blank">Foto Medidor</a><br>
        <a *ngIf="l.foto_fachada" [href]="l.foto_fachada" target="_blank">Foto Fachada</a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
