<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Administrador</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let l of lecturas">
      <ion-label>
        <h2>{{ l.user_id }}</h2>
        <p>Valor: {{ l.valor }}</p>
        <p>Obs: {{ l.observacion }}</p>
        <a [href]="l.mapa" target="_blank">Ver Mapa</a>
      </ion-label>

      <img [src]="l.foto_medidor" width="70">
      <img [src]="l.foto_casa" width="70">
    </ion-item>
  </ion-list>
</ion-content>
