ion-content {
    --background: linear-gradient(135deg, #d3c0f9, #f5c7f7, #a0eaff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

ion-input {
    margin-bottom: 20px;
    border-radius: 10px;
    --background: rgba(255, 255, 255, 0.8);
    padding-left: 15px;
}

ion-button[color="primary"] {
    --background: linear-gradient(135deg, #b19cd9, #e0b0ff);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

ion-button[color="secondary"] {
    --background: linear-gradient(135deg, #f9c0d3, #c0eaff);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
}

ion-toolbar {
    --background: linear-gradient(135deg, #d3c0f9, #f5c7f7);
    color: #fff;
}