<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      label="Correo"
      [(ngModel)]="email"
      type="email">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Contraseña"
      [(ngModel)]="password"
      type="password">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      label="Rol"
      [(ngModel)]="rol">
      <ion-select-option value="admin">Admin</ion-select-option>
      <ion-select-option value="user">Usuario</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="registrar()">
    Registrar
  </ion-button>

</ion-content>
