<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrar Lectura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Valor del medidor</ion-label>
    <ion-input type="number" [(ngModel)]="valorMedidor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Observaciones</ion-label>
    <ion-textarea [(ngModel)]="observaciones"></ion-textarea>
  </ion-item>

  <ion-button expand="block" (click)="tomarGPS()">
    Tomar Ubicación GPS
  </ion-button>

  <ion-text color="medium" *ngIf="lat && lng">
    Ubicación capturada: {{ lat }}, {{ lng }}
  </ion-text>

  <ion-button expand="block" (click)="tomarFotoMedidor()">
    Tomar foto del medidor
  </ion-button>

  <ion-img *ngIf="fotoMedidor" [src]="fotoMedidor" class="preview-img"></ion-img>

  <ion-button expand="block" (click)="tomarFotoFachada()">
    Tomar foto de la fachada
  </ion-button>

  <ion-img *ngIf="fotoFachada" [src]="fotoFachada" class="preview-img"></ion-img>

  <ion-button [disabled]="subiendo" expand="block" (click)="guardar()">
    Guardar lectura
  </ion-button>

</ion-content>
